{% extends "main/layout.html" %}
{% block title %}
Site Today News
{% endblock %}

{% block content %}

    <div class="features">
        <h1>Site Today News</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi impedit quia tempora tenetur totam ut voluptatibus. Cupiditate dolor optio quas!</p>
        <button class="btn btn-warning">Open Page</button>
        <div class="elements">

<!--        {%for element in values%}-->
<!--            {% if element <= 200 %}-->
<!--                    <p>{{element}}</p>-->
<!--            {% endif%}-->
<!--        {% endfor %}-->
<!--        {%for list in my_list%}-->
<!--            <p>{{list}}</p>-->
<!--        {% endfor %}-->
<!--        {%for el in obj%}-->
<!--            <p>{{el}}</p>-->
<!--        {% endfor %}-->

        </div>






    </div>
{% endblock %}