{% extends "main/layout.html" %}
{% block title %}
Site Today News
{% endblock %}

{% block content %}

    <div class="features">
        <h1>Site Today News</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi impedit quia tempora tenetur totam ut voluptatibus. Cupiditate dolor optio quas!</p>
        <button class="btn-warning">News Site Page</button>
        {% for element in news%}
                <div class="alert-warning">
                    <h4>{{element.title}}</h4>
                    <p>{{element.anons_content}}</p>
                    <p>{{element.full_content}}</p>
                    <p>{{element.date}}</p>
                </div>
        {% endfor %}

<!--        The first option for extracting elements from the database-->
        <!--         {{news}}-->

<!--        The second option for extracting elements from the database-->
        <div class="elements">




<!--        {%for element in values%}-->
<!--            {% if element <= 200 %}-->
<!--                    <p>{{element}}</p>-->
<!--            {% endif%}-->
<!--        {% endfor %}-->
<!--        {%for list in my_list%}-->
<!--            <p>{{list}}</p>-->
<!--        {% endfor %}-->
<!--        {%for el in obj%}-->
<!--            <p>{{el}}</p>-->
<!--        {% endfor %}-->

        </div>






    </div>
{% endblock %}