{% extends "main/layout.html" %}
{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{title}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi impedit quia tempora tenetur totam ut voluptatibus. Cupiditate dolor optio quas!</p>
        <button type="button" class="btn btn-warning">Open About Us</button>{{values}}

    </div>
{% endblock %}

<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>About Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>About Page HTML</h2>-->
<!--<p>We are the champions</p>-->
<!--</body>-->
<!--</html>-->