{% extends "main/layout.html" %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}

    <div class="features">
        <h1>{{title}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi impedit quia tempora tenetur totam ut voluptatibus. Cupiditate dolor optio quas!</p>
        <button class="btn btn-warning">Open Page</button>
        <div class="elements">

        {%for element in values%}
            {% if element <= 200 %}
                    <p>{{element}}</p>
            {% endif%}
        {% endfor %}
        {%for list in my_list%}
            <p>{{list}}</p>
        {% endfor %}
        {%for el in obj%}
            <p>{{el}}</p>
        {% endfor %}

        </div>






    </div>
{% endblock %}
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Main Page HTML</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>The Main Page!</h2>-->
<!--<p>The Main Page!-p</p>-->
<!--</body>-->
<!--</html>-->